autopep8
certifi
chardet
confusable-homoglyphs
defusedxml
diff-match-patch
django
django-allauth
django-appconf
django-crispy-forms
django-formtools
django-import-export
django-ranged-response
django-reversion
django-simple-captcha
django-user-accounts
et-xmlfile
future
httplib2
idna
itsdangerous
jdcal
oauthlib
odfpy
openpyxl
Pillow
pycodestyle
python3-openid
pytz
pyyaml
requests
requests-oauthlib
six
tablib
unicodecsv
xlrd
xlwt
autopep8
certifi
chardet
confusable-homoglyphs
defusedxml
diff-match-patch
django-allauth
django-appconf
django-crispy-forms
django-formtools
django-import-export
django-ranged-response
django-reversion
django-simple-captcha
django-user-accounts
et-xmlfile
future
httplib2
idna
itsdangerous
jdcal
oauthlib
odfpy
openpyxl
Pillow
pycodestyle
python3-openid
pytz
requests
requests-oauthlib
six
tablib
unicodecsv
urllib3
xlrd
xlwt
